/* 
====== 
Variables 
======
*/
:root {
  /* --primaryLightColor: #d4e6a5; */
  /* --primaryColor: #476a2e; */
  /* --primaryDarkColor: #c02c03; */
  /* --mainRed: #bd0303; */
  --primaryLightColor: #e1ade1;
  --primaryColor: #d46dd6;
  --primaryDarkColor: #b83dba;
  --secondaryLightColor: #c4ff0e;
  --secondaryColor:#96f585 ;
  --secondaryDarkColor: #129c6e;
  
  --offWhite: #f7f7f7;
  
  --mainOverlay: rgba(35, 10, 36, 0.4);
  
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #ec1c24;
  --mainOrange: #ffa500;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
  --lightShadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.5);
  --normalShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

.light-theme {
  --mainBackground: #f1f5f8;
  --secondaryBackground: #fff;
  --mainBlack: #222;
  --mainWhite: #fff;

  
}

.dark-theme {
  --mainBackground: #282c35;
  --secondaryBackground: #373c49;
  --mainBlack: #f1f5f8;
  /* --mainWhite: #fff; */
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryDarkColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryDarkColor);
}
.btn-danger {
  background: var(--mainWhite);
  /* color: var(--mainWhite); */
  border-color: var(--mainRed);
}
.btn-danger:hover {
  background: var(--primaryLightColor);
  color: var(--primaryDarkColor);
  border-color: transparent;
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
  align-self: flex-start;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}

.btn-like {
  color: var(--mainBlack);
  border: none;
  background-color: transparent;
  outline: none;
}

.liked {
  color: var(--mainRed);
}

.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
 
.react-toggle--checked .react-toggle-track-x {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.react-toggle:hover .react-toggle-thumb {
  box-shadow: 0 0 2px 3px var(--primaryColor);
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #0f1114;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.react-toggle-track-check {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 5px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 5px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
}

.react-toggle-thumb {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  -webkit-transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
  transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* 
====== 
Navbar
======
*/
.navbar {
  background: var(--secondaryBackground);
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: none;
}

.logo {
  width: 12rem;
  border-radius: 5px;
  box-shadow: none;
  transition: var(--mainTransition);
} 

.logo:hover {
  box-shadow: var(--lightShadow);
}

.nav-favorites {
  display: none;
}

.nav-toggle {
  border: none;
  background-color: transparent;
}

.nav-toggle:active {
  outline: none;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle-icon {
  font-size: 2.5rem;
  color: var(--mainBlack);
  background-color: transparent;
  padding: .3rem;
  transform: rotate(0);
  transition: var(--mainTransition);
}

.nav-favorites-icon {
  font-size: 2.8rem;
  cursor: pointer;
  transition: var(--mainTransition);
  border: none;
}

.nav-favorites-icon:hover,
.nav-toggle-icon:active {
  color: var(--mainRed);
}

.nav-toggle-icon:active {
    transform: rotate(360deg);
}

.nav-favorites-number {
  position: absolute;
  top: 0;
  right:0;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--secondaryBackground);
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: var(--mainTransition);
}

/* .nav-favorites-icon:hover + .nav-favorites-number {
  border: 1px solid var(--mainWhite)
} */

.nav-lang-button {
  display: none;
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  transition: var(--mainTransition);
  box-shadow: var(--lightShadow);
  transform: scale(1.02);
}

.nav-lang-button:hover {
  box-shadow: none;
  transform: scale(0.98);
}

.nav-lang-button:focus {
  outline: none;
}

.nav-react-toggle {
  display: none;
}

@media screen and (min-width: 800px) {

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-link {
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
  }

  .nav-link:hover,
  .nav-link.active
  {
    color: var(--mainRed);
  }

  .nav-favorites {
    display: block;
    position: relative;
  }

  .nav-toggle {
    display: none;
  }

  .nav-lang-button{
    display: inline-block;
  }

  .logo {
    width: 9rem;
  } 

  .nav-react-toggle {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    width: 12rem;
  }

  .nav-favorites-icon {
    font-size: 3.5rem;

  }
}

hr {
  border: none;
  border-bottom: 1px solid var(--mainBlack);
  box-shadow: var(--lightShadow);
}

/* 
====== 
Sidebar
======
*/

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: grid;
  place-items: center; */
  /* visibility: hidden; */
  background-color:  rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  z-index: -1;
  transition: var(--mainTransition);
}
.sidebar-wrapper.show {
  /* visibility: visible; */
  transform: translateX(0);
  z-index: 2;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  min-width: 250px;
  min-height: 20rem;
  background: var(--primaryLightColor);
  overflow-x: auto;
  border-radius: 0 3px 3px 3px;
  padding: 1rem;

}

.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--primaryDarkColor);
  margin-bottom: 1rem;
}

.sidebar-header h4 {
  margin: 0;
}
 
.sidebar-header button,
.sidebar-lang-button {
    background-color: transparent;
    border: none;
}

.sidebar-header .icon {
  font-size: 1.7rem;
  color: var(--primaryDarkColor);
  transition: var(--mainTransition);
   
}

.sidebar-header .icon:active {
  color: var(--mainBlack);
}

.sidebar-lang-button {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 50%;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.sidebar-lang-button:active {
  box-shadow: none;
}

.sidebar-links {
  margin: 2rem 0;
  text-align: center;
}

.sidebar-link {
  font-size: 1.4rem;
  color: var(--primaryDarkColor);
  display: block;
  width: 100%;
  background-color: var(--primaryLightColor);
  padding: 1rem 0;
  margin-bottom: .5rem;
  border-radius: var(--mainBorderRadius);
  transition: var(--mainTransition);
  letter-spacing: .8rem;
  text-transform: capitalize;
}

.sidebar-link:active,
.sidebar-link.active {
  color: var(--mainWhite);
  background-color: var(--primaryColor);
}

.sidebar-favorites-container {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.sidebar-favorites-icon {
  font-size: 3rem;
  color: var(--primaryDarkColor);
}

.sidebar-favorites-number {
  position: absolute;
  top: 0;
  left: 57%;
  height: 1.5rem;
  width: 1.5rem;
  transform: translate(-57%);
  background-color: var(--secondaryColor);
  border-radius: 50%;

}

.sidebar-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
}

/* 
====== 
About
======
*/
.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
}
/* 
====== 
smoothies List 
======
*/

.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.colorized {
  background-image:linear-gradient(to right, var(--secondaryColor), var(--secondaryDarkColor));
  background-clip:text;
  color:transparent;
}

.colorized--red {
  background-image:linear-gradient(to right, var(--mainOrange), var(--mainRed));
}

.colorized--green {
  background-image:linear-gradient(to right,var(--secondaryColor), var(--secondaryDarkColor));

}

.section-img {
  margin-bottom: 1.25rem;
}

.section-subtitle {
  color: var(--mainOrange);
}

.smoothies-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}

@media screen and (min-width: 576px) {
  .smoothies-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
/* 
====== 
smoothie 
======
*/

.smoothie {
  background: var(--secondaryBackground);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}
.smoothie:hover {
  box-shadow: var(--darkShadow);
}
.smoothie img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.smoothie-footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.smoothie-footer h3,
.smoothie-footer h4,
.smoothie-footer p {
  margin-bottom: 0.7rem;
}
.smoothie-footer h3 {
  font-size: 1.5rem;
  color: var(--mainOrange)
}
.smoothie-footer h4 {
  font-weight: 400;
}
.smoothie-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}
/* 
====== 
Form
======
*/
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}
.form-control input {
  width: 100%;
  border-color: transparent;
  border-bottom: 2px solid var(--primaryColor);
  background: transparent;
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.form-control input::placeholder {
  font-size: 1rem;
  font-style: oblique;
  color: var(--primaryLightColor);  
}

.form-control input:focus::placeholder {
  color: var(--secondaryColor);  
}

.form-control input:focus {
  outline: none;
  border-bottom: 2px solid var(--secondaryColor);

}
/* 
====== 
smoothie
======
*/

.smoothie-section {
  text-align: center;
}
.drink-info {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}

.drink-info img {
  border-radius: var(--mainBorderRadius);
  height: auto;
}

.drink-list {
  padding-top: 2rem;
}

.drink-item {
  font-weight: 400;
  /* text-transform: capitalize; */
  line-height: 1.8;
  margin-bottom: 1rem;
}

.drink-name {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
  margin-right: 0.5rem;
}

.drink-item p {
  padding: .5rem;
  margin: 0;
}

.ordinary-number {
  padding: .5rem;
  padding-left: 0;
  color: var(--mainOrange);
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mt-3 {
  margin-top: 3rem;
}

.grid-container p {
  align-self: center;
}

.likes-text {
  font-size: 1.5rem;
  color: var(--primaryDarkColor);
  margin: 0;

}

@media screen and (min-width: 800px) {
  .drink-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
  }
  .drink-list {
    padding-top: 0;
  }
}

.loader {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  margin: auto;
  margin-top: 5rem;
  border-top: 0.1rem solid var(--secondaryLightColor);
  border-right: 0.1rem solid var(--secondaryColor);
  border-bottom: 0.1rem solid var(--mainRed);
  border-left: 0.1rem solid var(--primaryLightColor);
  border-radius: 50%;
  animation: load-right 2s infinite linear;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  height: 3rem;
  width: 3rem;
  animation: load-left 2s infinite linear;
}

@keyframes load-right {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes load-left {
  
  0% {
    filter: blur(4px);
    transform: rotate(0);
  }
  
  50% {
    filter: blur(0);
    
  }  
  
  100% {
    filter: blur(4px);
    transform: rotate(-360deg);
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
  transform: scale(0);
  transition: var(--mainTransition);
}

.show {
  transform: scale(1);
}

.modal {
  position: fixed;
  top: 30vh;
  left: calc(50% - 15rem);
  width: 30rem;
  /* transform: translate(-50%, -50%); */
  background: var(--mainBackground);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 100;
  border-radius: var(--mainBorderRadius);
}

.modal h3 {
  margin: 0;
  padding: 1rem;
  background: var(--mainRed);
  color: var(--mainBackground);
  border-radius: var(--mainBorderRadius) var(--mainBorderRadius) 0 0;
}

.modal p {
  text-align: center;
  padding: 1rem 2rem;
}

.modal-actions {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    padding-top: 0;
}

